@import url(material.min.css);
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.eot);
    src: url(../fonts/MaterialIcons-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Helvetica Arial';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/RobotoDraftRegular.woff) format('woff'),
    url(../fonts/RobotoDraftRegular.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
    backdrop-filter: blur(1px);
    outline: none;
}

.table-icons {
    height: auto;
    line-height: auto;
}

#main-menu {
  position: relative;
  margin: 0px;
  float: left;
}

.mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
    padding-left: 18px;
}

.mdl-layout--fixed-drawer:not(.is-small-screen) > .mdl-layout__header {
    margin-left: 60px;
    width: calc(100% - 60px);
}

.mdl-layout--fixed-drawer > .mdl-layout__content {
    margin-left: 60px;
}

.mdl-layout__drawer {
    width: 60px;
    overflow-y: initial;
    border: none;
}

.mdl-layout__header .mdl-layout__drawer-button {
    margin-top: 10px;
    background: none;
}

.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
    text-align: center;
}

.nav-scrollable-menu {
  max-height: 330px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 30px 0px 0px -26px;
}

.scrollable-menu {
    max-height: 330px;
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    overflow: hidden !important;
}

.scrollable-menu::-webkit-scrollbar,
.nav-scrollable-menu:-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}

.scrollable-menu::-webkit-scrollbar-thumb,
.nav-scrollable-menu:-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: lightgray;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);
}

.mdl-menu__container:not(.is-visible) {
    visibility: hidden;
}

.mdl-menu__container.is-visible {
    visibility: visible;
}

.box p, .box h3, .box a,
.box ul, .box span {
    margin-left: 10px;
}

#content .autoscroll {
    margin: 20px 0px 0px 0px !important;
}

#content .contextual .mdl-button {
    margin: -12px 0px 0px 0px !important;
}

#content .mdl-button {
    margin: -5px 0px 0px 0px !important;
}

.box label a, .box span a {
    margin: auto;
}

.tabular label {
    font-weight: normal;
}

tr.project.idnt-1 td.name {
    padding-left: 3em;
}

.members span.organization-members,
.members span.organization-members a {
    margin: auto !important;
}

.mdl-menu__item {
    color: black !important;
    text-decoration: none !important;
}

.mdl-tabs__tab.is-active:after {
    background: rgb(76,175,80) !important;
}

a.mdl-tabs__tab {
    text-decoration: none !important;
    background: rgba(0,0,0,.4);
    backdrop-filter: grayscale(1) contrast(3) blur(1px); */
}

#header {
    text-decoration: none !important;
    backdrop-filter: grayscale(1) contrast(3) blur(1px);
}

.mdl-tabs__tab-bar {
    border: none;
}

#main-menu.selected:after {
    heihgt: 4px !important;
    background: rgb(139,195,74) !important;
}

#main-menu {
    position: absolute;
    bottom: 0px;
    margin: 0px -500px 0px 10px;
}

#main-menu li:hover, #main-menu li .selected {
    background: none;
}

h4, h3, h2, h1, .tabs {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    backdrop-filter: blur(1px);
}

label {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 13px;
    font-style: italic;
    line-height: 1;
    font-weight: 400;
    letter-spacing: .02em;
    box-sizing: border-box;
    backdrop-filter: blur(1px);
}

#projects-index ul.projects div.root a.project {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

#projects-index ul.projects ul.projects {
    border: none;
}

#sidebar h3 {
    margin-top: 30px;
}

#sidebar {
    position: absolute !important;
    top: 150px;
    right: 0px;
}

#sidebar .contextual {
    margin: 0em 5em 2em 0em;
}

#content a:hover, #sidebar a:hover,
#sidebar a.selected, a.root {
    text-decoration: none !important;
}

.account-icons {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.nav-icons {
    font-size: 32px;
    color: rgb(76,175,80);
    outline: none;
}

.nav-icons:hover, .nav-icons.is-active {
    box-sizing: border-box;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    color: rgb(139,195,74);
}

.mdl-navigation {
    box-sizing: border-box;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
 }

img.gravatar {
    cursor: pointer;
    background: none !important;
    border: none !important;
}

#login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    padding: 16px;
}

#holder a {
    margin-left: 60px;
}

#user-menu {
    margin: -18px -1px -2px -2px;
}

input#q {
    border: none;
}

#header {
    padding: 0px;
    margin: 0px 10px 0px 0px;
    background: url(../images/transparent.jpg) center / cover;
    max-height: 150px;
    width: 100%;
}

#ajax-indicator {
    background: none;
    border: none;
}

.issues-all {
    margin: 5px;
    color: gray;
    font-size: 16px;
}

.issues-close {
    margin: 5px;
    color: red;
    font-size: 16px;
}

.issues-open {
    margin: 5px;
    font-size: 16px;
    color: rgb(76,175,80);
}

.button-update {
    margin: 30px 0px 0px 0px !important;
}
